@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/Fonts/FiraSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/Fonts/FiraSans-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/Fonts/FiraSans-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./assets/Fonts/FiraSans-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
} 

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/Fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

:root {
  --primary-color: #0c0c0c;
  --card-bgColor: #121212;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 20rem;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--primary-color);
  font-family: 'Fira Sans', sans-serif;
}

.active{
  background-image: linear-gradient(to right, rgb(173, 70, 255), rgb(43, 127, 255) );
  background-clip: text;
  color: transparent;
}

@keyframes borderGradient {
  0% {
    background-position: 0% 50%;
  }

  100% {
    background-position: 200% 50%;
  }
}

